
@font-face {
  font-family: 'Montserrat-Bold';
  src: url('Montserrat-Boldd41d.eot?#iefix') format('embedded-opentype'),  url('Montserrat-Bold.html')  format('opentype'),
	     url('Montserrat-Bold.woff') format('woff'), url('Montserrat-Bold-2.html')  format('truetype'), url('Montserrat-Bold.svg#Montserrat-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
